<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Soft Stack</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
    </ul>
    <form action="#">
      <p><input type="text" id="search" placeholder="Type something..." autocomplete="off" class="form-control" /></p>
      <p><input type="submit" value="Search" class="form-control btn btn-primary w100"></p>
    </form>
    <div id="results"></div>
  </div>
</nav>

<router-outlet></router-outlet>
